table,
caption {
  box-shadow: 8px 8px 12px #628ca6;
}

table {
  font-family: Ubuntu, sans-serif;
  text-align: center;
  border-collapse: collapse;
  margin: 0 auto;
}

caption {
  font-size: 22px;
  font-weight: bold;  
  padding: 6px;
  background-color: #7fb9c2;
  border: solid 1.0px #cdcdcd;
}

th {
  padding: 6px;
  border: solid 1.0px #cdcdcd;
  color: #ffffff;
  background-color: #628ca6;
}

td {
  padding: 5px;
  border: solid 1.0px #cdcdcd;
}

tr:nth-child(even) {
  background: #e7ffed;
}

tr:nth-child(odd) {
  background: #e7f0ed;
}

tr:nth-child(4) td:nth-child(3) {
  color: #ffffff;
  background-color: #628ca6;
}

tr:nth-child(5) td:nth-child(1) {
  font-style: italic;
}

tfoot tr td {
  text-align: center;
  font-size: 11px;
  padding: 6px;
  background-color: #7fb9c2;
}
