@media only screen and (min-width: 60em) {
    nav ul {
      display: flex;
    }
  
    nav ul li {
      flex: 1 1 100%;
    }
  
    header img {
      float: left;
      max-width: 160px;
    }
  
    header {
      text-align: left;
    }
  
    main img{
      max-width: 100%;
      position: relative;
    }

    .heading {
      margin-left: 12%;
    }
  
    .navigation {
      display: flex;
    }
  
    .navigation li {
      display: block;
      flex: 1 1 auto;
    }
  
    .navigation li:first-child {
      display: none;
    }

    .herodiv {
      position: relative;  
      width: 100%;
      height: 500px;  
    }

    .weathersummary {      
      position: absolute;
      top: 50px;
      left: 50px;
    }

    .hero-ph {       
      width: 100%;
      height: 100%;      
    }

    .articleimage {
      max-width: 350px;
    }
  
    .contact {
      display: flex;
    }

    .contactcard { 
      padding-top: 0px;
      padding-left: 30px;  
    }

    .googlemaps{
      max-width: 70%;
    }
  }
  