@media only screen and (min-width: 40.5em) {
  header img {
    max-width: 180px;
  }

  .fivedayforecast,
  .articleimage {
    display: initial;
  }

  .articleimage {
    max-width: 230px;
  }

  .googlemaps {
    max-width: 95%;
    display: initial;
  }

  /* Gallery */

  #gallery_container {
    grid-template-columns: 1fr 1fr;
  }

  /* Home Page */

  #banner {
    display: initial;
    max-height: 500px;
  }

  .cards section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .cards section:nth-child(odd) img {
    grid-column: 1;
    height: 75%;
  }

  .cards section:nth-child(even) img {
    height: 75%;
  }

  .cards section:nth-child(odd) #info {
    grid-column: 2;
    grid-row: 1;
  }

  #info {
    padding-top: 0px;
    padding-bottom: 10px;
    height: 300px;
  }

  /* Town Pages */
  #temp1,
  #temp2,
  #temp3,
  #temp4,
  #temp5 {
    font-size: 28px;
  }

  #img1,
  #img2,
  #img3,
  #img4,
  #img5 {
    max-width: 70px;
  }

  .upcomingEvents {
    width: 60%;
  }

  /* Join */
  .membership {
    grid-template-columns: 1fr 1fr;
  }

  .membership section {
    display: block;
  }
 

  #persona1, #persona3{
    float: left;
    max-width: 150px;
    
  }
  
  #persona2{
    float: right;
    max-width: 150px;
  }

}