@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
  margin: 0;
  padding: 0;
}
h1 {
  text-shadow: 2px 2px 2px #888;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: Acme, Arial, sans-serif;
  background-color: lightgray;
}

main {
  margin: 0.5rem;
  border: 1px solid #999;
  padding: 0.5rem;
  background-color: #bed;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 30%);
  border-radius: 5px;
}

/*NEW LINES*/

input, button {
  padding: 5px;
}

label {
  font-size: 12px;
}

ul button {    
    width: 35px;
    padding-left: 2px;
    padding-right: 2px;  
    color: red;
}

li {
  display: flex;  
  justify-content: space-between;
  margin-bottom: 5px;
}

.list {
  margin: 1rem;
  border: 1px solid rgb(177, 174, 174);
}

ul {
  margin: 1rem;  
}